@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1 class="display-4">Witaj na sKAmSYNO</h1>
    <p>Symulator, który pokaże Ci jak szybko stracił byś cały swój majątek.</p>
</div>
